body {
    background: linear-gradient(to bottom, #FFB6C1, #FF6F61); 
    color: #2C3E50;
    margin: 0;
    flex-direction: row;
}

#Header {
    background-color: #FF6F61; 
    width: 100%;
    height: max(10vh, 60px);
    justify-content: center;
    align-items: center;
}

#Header h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    margin: 0;
}

#Menu {
    background-color: #FFB6C1;
    width: 200px; 
    height: 100%; 
    position: fixed; 
    top: 51px; 
    left: 0;
    padding: 10px 0; 
}

#Menu menuitem {
    display: block;
    border-bottom: 2px solid #FF6F61;
    width: 100%; 
    padding: 10px 0; 
    text-align: center; 
}


#Menu menuitem span {
    color: #2C3E50;
    font-size: 1rem;
	position: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#MainView {
    background: #FFF1F1; 
    margin-left: 200px; 
    padding: 20px;
    height: 100vh;
	
}

#MainView p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #2C3E50;
}

#Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FF6F61; 
    height: 50px;
    text-align: center; 
    color: white;
}
