# IntelliJ IDEA
**/.idea/
*/.iml
**/out

# Build system
**/build/
**/.gradle/
**/gradle/
**/classes/
**/bin/
**/obj/

# Gradle wrapper
**/gradlew
**/gradlew.bat
**/settings.gradle

# Eclipse
**/.classpath
**/.project
**/.settings/

# Visual Studio
**/.vs/
**/*.csproj
**/*.sln
**/*.user

# Exclude .gitignore itself from ignore (REMOVE THIS LINE!)
# !.gitignore ← elimin-o complet (nu are rost aici)
