.header-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.combo-box {
    -fx-padding: 8px;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 6px;
    -fx-background-color: #ecf0f1;
    -fx-font-size: 14px;
    -fx-text-fill: #2c3e50;
}

.table-view {
    -fx-border-color: #95a5a6;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-font-size: 14px;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 8px;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #bdc3c7, #ecf0f1);
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.table-row-cell:hover {
    -fx-background-color: #f2f2f2;
}

.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}
